body{
    background-image:url("images/background.jpg");
    text-align:center;
    font-family: 'Noticia Text', serif;
}

#portrait{
    width:200px;
    height:210px;
    border-radius:50%;
    margin-top:50px;
}

#textbox{
    margin-bottom:40px;
}
.btn{
    text-align:center;
    margin:30px auto 20px auto;
    font-size:25px;
    width:500px;
    padding: 10px 0 10px 0;
    display:flex;
    flex-direction:column;
    background:#1c1c1c;
    color:white;
}
.btn:hover{
    width:550px;
    padding: 20px 0 20px 0;
}
.logo{
    width:30px;
    height:30px;
    margin:10px;
}
#warning{
    width:30px;
    height:30px;
    margin-right:10px;
    margin-top:10px;
}
.message{
    margin-top:50px;
    display:flex;
    justify-content:center;
}